<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-boolzapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <div id="app">

        <div class="container-xxl">

            <div class="container-xl-a">

                <div class="container-io">
                    <div class="image-io">
                        <img class="img-avatar" src="./img/avatar_io.jpg" alt="avatar_io">
                    </div>
                    <div class="name-io">
                        <p class="text-name">Bruno</p>
                    </div>
                    <div class="container-option">
                        <div class="option flex-centratura"><i class="fa-solid fa-spinner" style="color: #bdbdbd;"></i></div>
                        <div class="option flex-centratura"><i class="fa-solid fa-message" style="color: #bdbdbd;"></i></div>
                        <div class="option flex-centratura"><i class="fa-solid fa-ellipsis-vertical" style="color: #bdbdbd;"></i></div>
                    </div>
                </div>

                <div class="container-notifications">
                    <div class="img-notifications">
                        <div class="radius flex-centratura">
                            <i class="fa-solid fa-bell-slash" style="color: #8edafc;"></i>
                        </div>
                    </div>
                    <div class="text-notifications">
                        <P class="text-name">Ricevi notifiche di nuovi messaggi</P>
                        <a href="">Attiva notifiche desktop</a>
                    </div>
                </div>

                <div class="container-search">
                    <div class="searchFontPic">
                        <i class="fa-solid fa-magnifying-glass" style="color: #bdbdbd;"></i>
                    </div>
                    <input type="search" placeholder="Cerca o inizia una nuova chat" v-model="searchContact" class="mySearch">
                </div>

                <div class="container-chat">
                    <div v-for="contact in filterContacts" class="chat" @click="contactActive(contact)">
                        <div class="img-contact">
                            <img :src="contact.avatar" class="img-avatar" alt="">
                        </div>
                        <div class="text-contact">
                           <p class="text-name">{{contact.name}}</p>
                           <span class="textGrey">{{contact.messages[contact.messages.length-1].message}}</span>
                        </div>
                        <div class="time-contact">
                            <span class="textGrey textSmall">{{contact.messages[contact.messages.length-1].date}}</span>
                        </div>
                    </div>

                </div>

            </div>

            <div class="container-xl-b">

                <div class="container-io">
                    <div class="image-io">
                        <img :src="activeContact.avatar" class="img-avatar" alt="">
                    </div>
                    <div class="name-io">
                        <p  v-if="activeContact" class="text-name">{{activeContact.name}}</p>
                        <p  v-if="activeContact" class="textGrey"> Ultimo accesso il: {{activeContact.messages[activeContact.messages.length-1].date}} </p>
                    </div>
                    <div class="container-option">
                        <div class="option flex-centratura"><i class="fa-solid fa-magnifying-glass" style="color: #bdbdbd;"></i></div>
                        <div class="option flex-centratura"><i class="fa-solid fa-paperclip" style="color: #bdbdbd;"></i></div>
                        <div class="option flex-centratura"><i class="fa-solid fa-ellipsis-vertical" style="color: #bdbdbd;"></i></div>
                    </div>
                </div>

                <div class="container-mainChat">
                    <div v-for="(mes, i) in activeContact.messages" class="msn" :class="sentRiceived(mes)">
                        <p>{{mes.message}}</p>
                        <button @click="deleteMessage(i)" class="delete">^</button>
                    </div>
                </div>

                <div class="container-boardMsn">
                    <div class="emoticon flex-centratura">
                        <i class="fa-regular fa-face-smile" style="color: #919191;"></i>                    </div>
                    <div class="sendMessage">
                        <input type="text" v-model="newMessage" @keyUp.enter="addMessage(), messageAnswer() " placeholder="Scrivi un messaggio" class="mySearch">
                    </div>
                    <div class="audio flex-centratura">
                        <i class="fa-solid fa-microphone" style="color: #919191;"></i>
                    </div>
                </div>
            </div>

        </div>

    </div>
    


    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.7/dayjs.min.js"></script>
    <script src="./main.js"></script>
</body>
</html>